body {
    background-color: rgb(237, 237, 237);
}

main {
    display: flex;
    justify-content: space-evenly;
}

.preview {
    width: 338px;
    height: 626px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.bar {
    width: inherit;
    height: 60px;
    background-color: #cdc9cd;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.bar p {
    margin: auto;
    display: flex;
    align-items: center;
    height: inherit;
    color: #0d2936;
}

.bottom {
    border-top: 1px solid rgb(8, 7, 7);
    display: flex;
    margin-top: auto;
    margin-bottom: 0;
    height: 80px;
    align-self: stretch;
    justify-content: center;
    display: flex;
    align-items: center;
}

.round {
    border-radius: 100%;
    border: 1px solid black;
    height: 55px;
    width: 55px;
}

.editor {
    display: flex;
    flex-direction: column;
}